@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Jacquard+24+Charted&family=Monofett&family=Onest:wght@100..900&family=Shrikhand&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Onest", sans-serif;
    color: rgb(181, 63, 255);
    cursor: url('cursor\ small.png'), auto;
    margin: 0px;
}

header{
    background-color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    padding: 1%;
    font-size: xx-large;
    text-shadow: 4px 2px 10px rgb(255, 0, 0);
    font-family: "Archivo Black", sans-serif;
    color: rgb(194, 96, 255);
}

nav{
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 1px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
main{
    background-color: black;
    padding: 0%;
    margin: 0px;
}
#aboutmain{
    background-color: black;
    padding: 0%;
    margin: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#homepage{
    background-color: black;
    display: grid;
    text-align: center;
    align-items: center;
}
button{
    background-color:  rgb(181, 63, 255);
    color: rgb(255, 254, 254);
    font-family: 'Onest', sans-serif;
    border-radius: 10px 10px 10px 10px;
    padding: 8px;
    font-size: medium;
    text-shadow: 2px 2px 8px #c2c2c2;
    box-shadow: 0px 0px 9px rgb(181, 63, 255);
    text-transform: uppercase;
    cursor: url('cursor\ small.png'), pointer;
}
#home{
    margin: 10px;
}
#about{
    margin:10px;
}
#port{
    margin:10px;
}
#contact{
    margin:10px;
}
#aboutpic{
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 10%;
    align-items: center;
}
#picture{
    max-width: 100%;
    padding:10%;
    
}
footer{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    color: azure;
}
p{
    padding: 5%;
    font-size: large;
    justify-content: center;
    text-align: center;
}
button:hover{
    background-color:  rgb(255, 0, 0);
    color: rgb(255, 254, 254);
    font-family: 'Onest', sans-serif;
    border-radius: 10px 10px 10px 10px;
    padding: 8px;
    font-size: medium;
    text-shadow: 2px 2px 8px #c2c2c2;
    box-shadow: 0px 0px 9px rgb(255, 0, 0);
    text-transform: uppercase;
    cursor: url('cursor\ small.png'), pointer;
}
button:active{
    background-color:  rgb(255, 0, 0);
    color: rgb(255, 254, 254);
    font-family: 'Onest', sans-serif;
    border-radius: 10px 10px 10px 10px;
    padding: 8px;
    font-size: medium;
    text-shadow: 2px 2px 8px #c2c2c2;
    box-shadow: 0px 0px 9px rgb(255, 0, 0);
    text-transform: uppercase;
    cursor: url('cursor\ small.png'), pointer;
}

input[type=text], select, textarea {
    font-family: 'Onest', sans-serif;
    width: 100%;
    padding: 12px; 
    border-radius: 10px; 
    box-sizing: border-box; 
    margin-top: 12px; 
    margin-bottom: 16px;
    resize: vertical;
    color:rgb(194, 96, 255);
    background-color: rgb(255, 255, 255);
  }
  
  input[type=submit] {
    background-color: rgb(194, 96, 255);
    color: azure;
    padding: 12px 20px;
    border-radius: 10px;
    font-family: 'Onest', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px #c2c2c2;
    box-shadow: 0px 0px 9px rgb(181, 63, 255);
  }
  
  input[type=submit]:hover {
    background-color: rgb(255, 0, 0);
    text-shadow: 2px 2px 8px #c2c2c2;
    box-shadow: 0px 0px 9px rgb(255, 0, 0);
    cursor: url('cursor\ small.png'), pointer;
  }
  
  .container {
    border-radius: 5px;
    background-color: #000000;
    padding-left: 10%;
    padding-right: 10%;
  }

  @media screen and (max-width: 735px){
    #aboutmain{
        background-color: black;
        padding: 0%;
        margin: 0px;
        display: grid;
        text-align: center;
        align-items: center;
    }
    #aboutpic{
      padding: 10%;
    }
}